<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2012 Curtis Larson (QuackWare).
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v3.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/gpl.html
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quackware.gifdroid"
    android:versionCode="10"
    android:versionName="1.2" android:installLocation="auto">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10"/>
    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.quackware.gifdroid.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quackware.gifdroid.ui.ApplicationPreferencesActivity"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name="com.quackware.gifdroid.ui.PreviewActivity"
            android:label="@string/previewActivity" >
        </activity>
        <activity
            android:name="com.quackware.gifdroid.ui.ShareActivity"
            android:label="@string/shareActivity" >
        </activity>
        <activity
            android:name="com.quackware.gifdroid.ui.IntervalSelectorActivity"
            android:label="@string/intervalActivity" >
        </activity>
        <activity
            android:name="com.quackware.gifdroid.ui.FrameSelectorActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/frameSelectorActivity" >
        </activity>
        <activity android:name=".ui.VideoPreferencesActivity" >
        </activity>
    </application>
</manifest>
